html, body { margin: 0; padding: 0px; overflow: hidden; font-size:  10pt; font-family:  "courier new"; }
canvas { display:block }
#menu { position: absolute; top:5px; right:5px;}
.menuchunk {background:  rgb(0,0,0); color:white; padding: 5px; border-radius:4px; margin:5px;}
.menuchunk ul {list-style: none; padding: 0px; margin: 0px;}
.menuchunk a {color: #ccccff;}
.menuchunk li {padding: 2px;}
.modest {font-size: 8pt; color:lightgray;}
.menuchunk .hi{color:yellow}
