<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>lojs</title>
    <link rel="stylesheet" type="text/css" href="/static/css.css">
    <script type="text/javascript" src="/static/vector.js"></script>
    <script type="text/javascript" src="/static/mouse.js"></script>
    <script type="text/javascript" src="/static/camera.js"></script>
    <script type="text/javascript" src="/static/grid.js"></script>
    <script type="text/javascript" src="/static/circuit.js"></script>
    <script type="text/javascript" src="/static/editor.js"></script>
    <script type="text/javascript" src="/static/drawing.js"></script>
    <script type="text/javascript" src="/static/simulator.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
</head>

<body> 
<canvas id=canvas> </canvas> 

<div id=infoholder>
    <div id=info class=menuchunk style="display:none">
    </div>
</div>

<div id=menu> 

    <div class=menuchunk>
        <ul>
            <li><a href="/instructions">Instructions</a> <br>
            <li>Mode: 
            <a id="construct" href="#" onclick="javascript:construct();">Construct</a> 
            <a id="adjust" href="#" onclick="javascript:adjust();">Adjust</a>
        <li> <a href="#" onclick="javascript:constructor.clear();">Clear</a>
        <a href="#">Save</a> 
        <a href="#">Load</a>
        <a href="#" onclick="javascript:constructor.exportCircuit();">Export</a> 
        </ul>
    </div>

    <div class=menuchunk>
        <b>Components</b>
        <ul>
        <li> <a id="coupler" href="#" onclick="javascript:constructor.setMode(Coupler);">Coupler</a> 
        <a id="phaseshifter" href="#" onclick="javascript:constructor.setMode(Phaseshifter);">PhaseShifter</a> 
        <a id="crossing" href="#" onclick="javascript:constructor.setMode(Crossing);">Crossing</a>

        <li><a id="source" href="#" onclick="javascript:constructor.setMode(SPS);">Source</a> 
            <a id="bellpair" href="#" onclick="javascript:constructor.setMode(BellPair);">Bell Pair</a> 
            <a id="detector" href="#" onclick="javascript:constructor.setMode(Detector);">Detector</a> 
    </div>


    <div class=menuchunk style="overflow: auto; max-height:300px">
        <b>Output</b> 
        <a href="#" style="color:yellow">Amplitude</a> <a href="#">Probability</a> 
        <img src="/static/spin.gif" id="spinner" style="display:none">
        <ul id="simulator_output">
            [no output]
        </ul>

    </div>
</div>


<div style="display:none">{{gae_message}}</div>

</body>
</html>

