<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>lojs</title>
    <link rel="stylesheet" type="text/css" href="/static/css.css">
    <script type="text/javascript" src="/static/vector.js"></script>
    <script type="text/javascript" src="/static/mouse.js"></script>
    <script type="text/javascript" src="/static/camera.js"></script>
    <script type="text/javascript" src="/static/grid.js"></script>
    <script type="text/javascript" src="/static/circuit.js"></script>
    <script type="text/javascript" src="/static/editor.js"></script>
    <script type="text/javascript" src="/static/drawing.js"></script>
    <script type="text/javascript" src="/static/simulator.js"></script>
    <script type="text/javascript" src="/static/numbers.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43836477-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body> 
<canvas id=canvas> </canvas> 

<div id=infoholder>
    <div id=instructions class=menuchunk> 
        <h3>lojs linear-optics simulator</h3>
        <p>
        Work in progress. Code is available <a href="http://github.com/peteshadbolt/ulo">here</a> (simulator) and <a href="http://github.com/peteshadbolt/lojs">here</a> (website).
        Click+drag to look around. Scrollwheel to zoom. 
        </p>
        <p>
        Use "Adjust" mode to alter splitting ratios, phases, and Fock state photon number.
        </p>
        <p>
        You can use the simulator in your own projects. Watch the console (F12) to see the structure of API calls.
        </p>

        <h3>Keyboard shortcuts:</h3>
        <ul>
            <li>Tab: Construct/adjust</li>
            <li>Shift: Snap parameters</li>
            <li>C: Coupler</li>
            <li>F: Fock state</li>
            <li>P: Phaseshifter</li>
            <li>X: Crossing</li>
            <li>B: Bell-Pair</li>
            <li>D: Detector</li>
            <li>H: Heralding detector</li>
        </ul>
        <!--<p><a class=hi href="javascript:instructionBox.setAttribute('style', 'display:none');">Dismiss</a></p>-->
    </div>

    <div id=info class=menuchunk style="display:none"> </div>

</div>

<div id=menu> 

    <div class=menuchunk>
        <ul>
            <li><a href="javascript:instructionBox.setAttribute('style', '');">Instructions</a> <br>
            <li>Mode: 
            <a id="construct" href="#" onclick="javascript:construct();">Construct</a> 
            <a id="adjust" href="#" onclick="javascript:adjust();">Adjust</a>
            <li> <label for="fileinput" class="custom-file-upload"><input id="fileinput" type="file"/>Import</label>
            <a href="#" download="circuit.json" id="download">Export</a>
            <a href="#" onclick="javascript:circuit.clear();">Clear</a>
        </ul>
    </div>


    <div class=menuchunk>
        <b>Components</b>
        <ul>
        <li> <a id="coupler" href="#" onclick="javascript:constructer.setMode(Coupler);">Coupler</a> 
        <a id="phaseshifter" href="#" onclick="javascript:constructer.setMode(Phaseshifter);">PhaseShifter</a> 
        <a id="crossing" href="#" onclick="javascript:constructer.setMode(Crossing);">Crossing</a>

        <li> <a id="fockstate" href="#" onclick="javascript:constructer.setMode(FockState);">Fock State</a> 
            <a id="bellpair" href="#" onclick="javascript:constructer.setMode(BellPair);">Bell Pair</a> 
        <li> <a id="detector" href="#" onclick="javascript:constructer.setMode(Detector);">Detector</a> 
            <a id="herald" href="#" onclick="javascript:constructer.setMode(Herald);">Heralding detector</a> 
    </div>


    <div class=menuchunk style="overflow: auto; max-height:300px">
        <b>Output</b> 
        <a href="#">Amplitude</a> <a href="#" class="hi">Probability</a> 
        <img src="/static/spin.gif" id="spinner" style="display:none">
        <ul id="simulator_output">
            [no output]
        </ul>

    </div>
</div>


<div style="display:none">{{gae_message}}</div>

</body>
</html>

